*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

td, th{
    padding: .5rem;
    text-align: center;
    border: solid 1px black;
}

a{text-decoration: none}

label, input label{display: block}

button{
    cursor: pointer;
    font-family: var(--ff-primary);
}

:root{
    --bc: #050538;
    --bc-secondary: white;
    --bctr: rgba(5, 5, 56, 0.5);
    --fc-primary: #00968F;
    --fct-primary: rgba(0, 150, 143, 0.5);
    --fc-secondary:#00FFF4;
    --fct-secondary: rgba(0, 255, 244, 0.5);
    --fc-secondary2: #cecccc;
    --fct-secondary2:rgba(206, 204, 204, 0.5);
    --fc-paragraphs: white;
    --fs-paragraphs: 25px;
    --ff-primary: 'Itim';
    --transition: all 0.3s linear;
    --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    --box-shadow2: 10px 10px 10px rgba(206, 204, 204, 0.3);
}

@media only screen and (max-width: 290px){body{display: none}}

/* Tela Mobile */
@media only screen and (max-width: 1379.99px){
    .bodyGeral,
    .pageGeral .interna,
    .interna .central,
    .interna .central .container-modal .modal-btn,
    .interna .central .ajuda{
        width: 100%
    }

    .bodyGeral,
    .pageGeral,
    .pageGeral .interna,
    .interna .central,
    .interna .central .ajuda{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pageGeral{margin: 0}
    
    .pageGeral, hr{width: 90%}

    .pageGeral,
    .pageGeral .interna,
    .interna .central,
    .interna .central .ajuda{
        flex-direction: column
    }

    .pageGeral .interna{
        text-align: center;
        background-color: var(--bc-secondary);
    }

    .interna .carrinho{margin-bottom: -33px}

    .interna .carrinho p{
        color: #050538;
        font-size: 17px;
    }

    .interna .carrinho .para1,
    .interna .central .container-modal .modal-btn,
    .interna .central .ajuda .para2{
        margin-top: 10px
    }

    .interna .carrinho img{
        width: 110px;
        height: 90px;
    }

    .interna .central h1{
        font-size: 19px;
        color: var(--bc);
    }

    .interna .central .container-modal{width: 50%}

    .interna .central .container-modal, .interna .central .ajuda .para2{margin-bottom: 10px}

    .interna .central .container-modal .modal-btn{
        padding: 10px;
        border-radius: 15px;
        color: var(--fc-paragraphs);
        background-color: var(--fc-primary);
    }

    .interna .central .ajuda p{font-size: 17px}
    
    .interna .central .ajuda p, .interna .central .ajuda .para1 a{color: #050538}

    .interna .central .ajuda .para1 a{text-decoration: none}

    .interna .central .ajuda img{
        width: 100px;
        height: 70px;
    }

    /* CSS das páginas esqueci-senha e nova-senha */
    .interna .central .tituloSenha{margin-top: 30px}

    .interna .central .paragrafoCentro{margin-top: 10px}

    .interna .central .box-senha{
        width: 80%;
        padding: 10px;
        margin: 30px 0 50px 0;
        border-radius: 11px;
        box-shadow: var(--box-shadow);
    }

    .interna .central .box-senha,
    .interna .central .box-senha .formulario form input{
        background-color: var(--fct-primary)
    }

    .interna .central .box-senha,
    .interna .central .box-senha .formulario form,
    .interna .central .box-senha .formulario .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .interna .central .box-senha .formulario .labelSenha{margin: 10px 0 3px 0}

    .interna .central .box-senha .formulario form input{
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 35px;
        margin-bottom: 5px;
        font-family: var(--ff-primary);
    }

    .interna .central .box-senha .formulario form input,
    .interna .central .box-senha .formulario .btn{
        width: 100%
    }

    .interna .central .box-senha .formulario .btn{margin-top: 20px} 

    .interna .central .box-senha .formulario .btn .btn-login{
        width: 40%;
        padding: 8px;
        border-radius: 20px;
        color: var(--fc-paragraphs);
        background-color: var(--fc-primary);
    }

    /* CSS da página pagamento */
    .interna .central .bem-vindo,
    .interna .central .bem-vindo .bem-vindo-txt,
    .interna .central .escolha,
    .interna .central .escolha p,
    .interna .central .pagamento,
    .interna .central .pagamento .formulario,
    .interna .central .pagamento .formulario form .btn{
        width: 100%
    }

    .interna .central .bem-vindo,
    .interna .central .bem-vindo .bem-vindo-txt,
    .interna .central .escolha,
    .interna .central .pagamento,
    .interna .central .pagamento .formulario{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .interna .central .bem-vindo .bem-vindo-txt{
        width: 80%;
        gap: 10px;
        margin: 20px 0 10px 0;
    }

    .interna .central .escolha{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .interna .central .escolha .planinho{
        width: 30%;
        text-align: left;
        margin: 20px 10px 0 10px;
        background-color: var(--bctr);
    }

    .interna .central .escolha .planinho,
    .interna .central .pagamento .formulario form .btn .btn-login{
        color: var(--fc-paragraphs)
    }

    .interna .central .escolha .planinho, .interna .central .pagamento{
        padding: 20px;
        border-radius: 11px;
        box-shadow: var(--box-shadow);
    }

    .interna .central .pagamento{
        width: 80%;
        margin: 30px 0 40px 0;
    }

    .interna .central .pagamento,
    .interna .central .pagamento .formulario form input{
        background-color: var(--fct-primary)
    }

    .interna .central .pagamento .formulario form input{
        width: 150px;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-top: 10px;
        line-height: 35px;
        font-family: var(--ff-primary);
    }

    .interna .central .pagamento .formulario form .btn .btn-login{
        width: 100px;
        text-align: center;
        padding: 10px;
        margin: 15px 0 20px 0;
        border-radius: 20px;
        background-color: var(--fc-primary);
    }

    /* Modals */
    .modal-open{overflow: hidden}

    .interna .central .modal-overlay,
    .interna .central .formulario,
    .interna .central .formulario form .info,
    .interna .central .formulario form .info p,
    .row-textarea,
    .formulario .row-textarea #historico,
    .interna .central .formulario .botao-form,
    .natureza-servico p{
        width: 100%
    }

    .interna .central .modal-overlay{
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 10;
        transition: var(--transition);
        background-color: var(--bctr);
        animation-duration: 0.3s;
    }

    .interna .central .modal-container{
        width: 70%;
        max-height: 90%;
        padding: 20px;
        border-radius: 11px;
        overflow-y: auto;
        position: relative;
        box-shadow: var(--box-shadow2);
        background-color: var(--bc-secondary);
        animation: zoom-in 0.3s ease-out forwards;
    }

    .interna .central .modal-container h1{padding-bottom: 10px}

    .interna .central .formulario{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .interna .central .formulario h3,
    .interna .central .formulario form h4,
    .interna .central .formulario form .info p,
    .interna .central .formulario form select,
    .interna .central .relatorios #table-relatorios-crm,
    .interna .central .rel-clientes #table-rel-clientes,
    .info .lista2,
    .interna .central .relatorios #table-relatorios-crm,
    .interna .central .rel-clientes #table-rel-clientes,
    .interna .central .formulario form .tipo-cli p,
    .formulario .titulo-financas,
    .interna .central .botoes .close-btn{
        color: var(--bc)
    }

    .interna .central .formulario form .info{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .interna .central .formulario form input{
        width: 70%;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 2rem;
        margin-bottom: 5px;
        font-family: var(--ff-primary);
    }

    .interna .central .formulario form select{
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
        margin-bottom: 5px;
        font-family: var(--ff-primary);
    }

    .interna .central .formulario form hr{
        width: 90%;
        margin: auto;
    }

    .natureza-servico{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .natureza-servico,
    .info .lista2,
    .interna .central .formulario .botao-form .botao{
        margin: 10px 0 10px 0
    }

    .interna .central .relatorios,
    .info .lista,
    .row-textarea #historico,
    .row-textarea #desc-produto,
    .row-textarea #desc_servico,
    .row-textarea #observacoes{
        width: 80%
    }

    .interna .central .relatorios{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 11px;
        box-shadow: var(--box-shadow);
        background-color: var(--fct-primary);
    }

    .interna .central .relatorios #table-relatorios-crm,
    .interna .central .rel-clientes #table-rel-clientes,
    .info .modal-btn,
    .interna .central .formulario .botao-form .botao{
        background-color: var(--fc-primary)
    }

    .interna .central .rel-clientes, .interna .central .rel-servicos{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 11px;
        box-shadow: var(--box-shadow);
        background-color: var(--fct-primary);
    }

    .interna .central .rel-servicos #table-rel-servicos{
        width: 100%;
        max-width: 400px;
        margin: 20px 0;
        font-size: 1em;
        text-align: left;
        border-collapse: collapse;
    }

    .interna .central .rel-servicos #table-rel-servicos tr{
        display: block;
        text-align: left;
        color: var(--bc);
        margin-bottom: 10px;
        background-color: var(--fc-primary);
    }
    
    .interna .central .rel-servicos #table-rel-servicos td{
        display: block;
        font-size: 1em;
        text-align: right;
        position: relative;
    }

    .interna .central .rel-servicos #table-rel-servicos th,
    .interna .central .rel-servicos #table-rel-servicos td{
        border: 1px solid var(--bc)
    }

    .info .modal-btn{
        width: 80px;
        height: 30px;
        border-radius: 20px;
        color: var(--fc-paragraphs);
    }

    .info .lista ul, .info .lista2 ul{list-style: none}
    
    .formulario .titulo-financas{font-weight: bold}

    .interna .central .formulario .botao-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .interna .central .formulario .botao-form .botao{
        width: 100px;
        border: none;
        border-radius: 1rem;
        padding: 5px;
        font-size: 15px;
        font-family: var(--ff-primary);
        color: var(--fc-paragraphs);
    }

    .interna .central .botoes{
        top: 12px;
        right: 10px;
        position: absolute;
    }

    .interna .central .botoes .close-btn{
        font-size: 30px;
        border: none;
        background: transparent;
        transition: var(--transition);
    }
}

/* Tela Tablet */
@media only screen and (min-width: 570px) and (max-width: 1379.99px){
    .pageGeral, hr{width: 75%}
    
    .interna .central .container-modal{width: 40%}
}

/* Tela Desktop - Pequeno */
@media only screen and (min-width: 768px) and (max-width: 1379.99px){
    .pageGeral, hr{width: 65%}

    .interna .central h1{font-size: 22px}
    
    .interna .central .container-modal{width: 30%}

    .interna .central .container-modal .modal-btn:hover{background-color: var(--bc)}

    .interna .central .ajuda .para1 a:hover{color: var(--fc-primary)}

    .interna .central .formulario .botao-form .botao:hover{background-color: #050538}
    
    .interna .central .box-login a:hover{color: var(--fc-primary)}

    .interna .central .close-btn{cursor: pointer}

    .interna .central .close-btn:hover{transform: scale(1.3)}
}

/* Ajuste da responsividade */
@media only screen and (min-width: 1024px) and (max-width: 1379.99px){
    .interna .carrinho, .interna .central .ajuda{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .interna .carrinho .para1{margin: 45px 285px -45px 0}

    .interna .carrinho .para2{margin: -24px 0 20px 310px}

    hr{width: 80%}
    
    .interna .central h1{
        font-size: 25px;
        margin: 10px 0 5px 0;
    }

    .interna .central .container-modal{margin-bottom: 25px}

    .interna .central .ajuda{flex-direction: row}

    .interna .central .ajuda .para1{margin-top: -10px}

    .interna .central .ajuda img{
        width: 120px;
        height: 100px;
        margin-top: 15px;
    }

    .interna .central .ajuda .para2{margin: 0 0 -50px 10px}

    .interna .central .box-senha{width: 50%}

    .interna .central .paragrafoCentro{margin-bottom: 10px}

    .interna .central .pagamento{width: 60%}
}

/* Tela Desktop - Largo */
@media only screen and (min-width: 1380px){
    .bodyGeral{
        color: var(--bc);
        font-family: var(--ff-primary);
        background-color: var(--bc);
    }

    hr{
        width: 80%;
        color: var(--bc);
        margin-left: 10%;
    }
    
    .logo,
    .carrinho,
    .para1,
    .para2,
    .ajuda,
    .central,
    .botoes,
    .botao-form,
    .rodape,
    .sociais,
    .social,
    .texto-rodape,
    .relatorios{
        float: left
    }

    .pageGeral{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    
    .interna{
        width: 100%;
        height: auto;
        background-color: var(--bc-secondary);
    }

    .interna .carrinho{
        width: 55%;
        padding: .5rem;
        margin-left: 37%;
    }

    .interna .carrinho img{
        width: 10%;
        height: 20%;
        float: left;
        margin-top: 2%;
    }

    .interna .carrinho .para1{
        color: var(--bc);
        margin-top: 45px;
        text-align: right;
    }
    
    .interna .carrinho .para2{
        color: var(--bc);
        margin-top: 90px;
    }

    .interna .central{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .interna .central h1,h2,h3{
        color: var(--bc);
        text-align: center;
        margin: 1rem auto auto auto;
    }

    h3{
        width: 100%;
        max-width: 550px;
        margin: auto auto 1rem auto;
    }

    .interna .central .formulario{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .interna .central .formulario .botao-form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .interna .central .formulario .botao-form .botao{
        width: 150px;
        padding: .25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
        background-color: var(--fc-primary);
        color:var(--fc-paragraphs) ;
        font-family: var(--ff-primary);
        font-size: 15px;
    }

    .interna .central .formulario .botao-form .botao a{color: var(--fc-paragraphs)}

    .interna .central .formulario .botao-form .botao:hover{background-color: #050538}

    .interna .central .container-modal{
        width: 30%;
        padding: 2rem;
        margin-left: 37%;
    }

    .interna .central .container-modal .modal-btn{
        width: 50%;
        height: auto;
        margin-left: 19%;
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .interna .central .container-modal .modal-btn:hover{background-color: var(--bc)}

    .info .lista{
        width: 20%;
        margin-left: 155px;
    }

    .info .lista ul, .info .lista2 ul{list-style: none}

    .info .lista2{margin-left: 600px}

    .info .lista2 a{width: 60px}

    .info .modal-btn{
        width: 80px;
        height: 30px;
        margin-left: 50px;
        border-radius: 20px;
        color: var(--fc-paragraphs);
        background-color: var(--fc-primary);
    }

    .info #btn-cadastrar-vendas{
        position: absolute;
        margin-left: 720px;
        margin-top: -60px;
    }

    .modal-open{overflow: hidden}
    
    .interna .central .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bctr);
        display: grid;
        place-items: center;
        visibility: visible;
        z-index: 10;
        transition: var(--transition);
        animation-duration: 0.3s;
    }

    .interna .central .modal-container{
        width: 50%;
        max-height: 90%;
        background: var(--bc-secondary);
        border-radius: 20px;
        display: grid;
        place-items: center;
        overflow-y: auto;
        position: relative;
        box-shadow: var(--box-shadow2);
        animation: zoom-in 0.3s ease-out forwards;
    }

    .interna .central .modal-container h1{padding: 1.5rem}
    
    .interna .central .close-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        background: transparent;
        border-color: transparent;
        color: var(--cv);
        cursor: pointer;
        transition: var(--transition);
    }

    .interna .central .close-btn:hover{transform: scale(1.3)}

    .interna .central .relatorios{
        width: 80%;
        height: auto;
        padding: 2rem;
        margin:auto;
        margin-bottom: 2rem;
        border-radius: 1rem;
        box-shadow: var(--box-shadow);
        background-color: var(--fct-primary);
    }

    .interna .central .relatorios #table-relatorios-crm{
        width: 100%;
        background-color: var(--fc-primary);
    }

    .interna .central .rel-clientes #table-rel-clientes{
        width: 100%;
        background-color: var(--fc-primary);
    }

    .interna .central .formulario .cliente{
        width: 100%;
        float: left;
    }

    .interna .central .formulario .cliente .row{width: 90%}

    .interna .central .formulario .cliente .input-cliente{width: 65%}

    .interna .central .rel-clientes, .interna .central .rel-servicos{
        width: 100%;
        height: auto;
        padding: 2rem;
        margin: auto;
        margin-bottom: .5rem;
        border-radius: 1rem;
        overflow-x: auto;
        box-shadow: var(--box-shadow);
        background-color: var(--fct-primary);
    }

    .interna .central .rel-servicos{
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .interna .central .rel-servicos #table-rel-servicos{
        width: 100%;
        max-width: 200px;
        font-size: 1em;
        text-align: left;
        border-collapse: collapse;
    }

    .interna .central .rel-servicos #table-rel-servicos tr{
        text-align: left;
        color: var(--bc);
        background-color: var(--fc-primary);
    }
    
    .interna .central .rel-servicos #table-rel-servicos td{
        font-size: 1em;
        text-align: right;
    }

    .interna .central .rel-servicos #table-rel-servicos tr td #val_servico{width: 80px}

    .interna .central .rel-servicos #table-rel-servicos tr td #imposto{width: 40px}

    .interna .central .rel-servicos #table-rel-servicos th,
    .interna .central .rel-servicos #table-rel-servicos td{
        border: 1px solid var(--bc)
    }

    .natureza-servico{
        width: 63%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 5px;
    }

    .natureza-servico p{width: 90%}

    .interna .central .formulario form input{
        width: 90%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: none;
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .interna .central .formulario form select{
        width: 90%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fc-paragraphs);
        padding: 0.5rem;
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .interna .central .formulario form .info{
        width:100%;
        height: auto;
        float: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .interna .central .formulario form .info p{margin-left: 13%}

    .interna .central .formulario form .tipo-cli{
        float: left;
        width: 100%;
        margin-top: 1%;
    }

    .interna .central .formulario form .tipo-cli p{margin-left: 13%}

    .interna .central .formulario form .tipo-cli .radio{
        width: 10%;
        float: left;
        display: block;
    }
    
    .interna .central .formulario .tipo-cli .radio label{display: block}

    .interna .central .formulario .tipo-cli .row{width: 40%}

    .row-textarea{
        width: 20%;
        margin-left: 130px;
    }

    .row-textarea #historico, .row-textarea #desc-produto{width: 560px}

    .interna .central .formulario .parcelamento{
        float: left;
        width: 100%;
        margin-top: 1%;
    }

    .interna .central .formulario .parcelamento .radio{
        width: 10%;
        float: left;
        display: block;
    }

    .interna .central .formulario .parcelamento .radio label{display: block}

    .interna .central .formulario .parcelamento .row{width: 23%}

    .interna .central .bem-vindo{
        width: 100%;
        height: auto;
    }

    .interna .central .bem-vindo .bem-vindo-txt{
        width: 30%;
        float: left;
        margin-left: 25%;
        margin-top: 1rem;
    }

    .interna .central .escolha{
        width: 80%;
        margin-left: 250px;
    }

    .interna .central .escolha p{margin-left: -150px}

    .interna .central .escolha .planinho{
        width: 30%;
        height: auto;
        background-color: var(--bctr);
        color: var(--fc-paragraphs);
        border-radius: 1rem;
        margin-left: 10%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        float: left;
    }

    .interna .central .pagamento{
        width: 30%;
        height: auto;
        background-color: var(--fct-primary);
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        float: left;
    }

    .interna .central .pagamento .formulario form input{
        width: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fct-primary);
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
        margin-left: 15%;
    }

    .interna .central .pagamento .formulario .btn{
        width: 100%;
        float: left;
    } 

    .interna .central .pagamento .formulario .btn .btn-login{
        width: 25%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs);
        float:left;
    }

    .interna .central .pagamento .formulario .row{
        width: 100%;
        float: left;
    }

    .paragrafoCentro{text-align: center}

    .interna .central .box-senha{
        width: 30%;
        height: auto;
        background-color: var(--fct-primary);
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
    }

    .interna .central .box-senha .formulario form input{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fct-primary);
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
        margin-left: 15%;
    }

    .interna .central .box-senha .formulario .labelSenha{
        margin-left: 31px;
        margin-bottom: 3px;
    }

    .interna .central .box-senha .formulario .btn{
        width: 100%;
        float: left;
    } 

    .interna .central .box-senha .formulario .btn .btn-login{
        width: 25%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs);
        float:left;
    }

    .interna .central .box-senha .formulario .row{
        width: 57%;  
        float: left;
    }

    .interna .central .box-login{
        width: 30%;
        height: auto;
        background-color: var(--fct-primary);
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        box-shadow: var(--box-shadow);
    }

    .interna .central .box-login p{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .interna .central .box-login a{
        color: var(--bc);
        display: flex;
        justify-content: center;
    }

    .interna .central .box-login a:hover{color: var(--fc-primary)}

    .interna .central .box-login .formulario .btn-login{
        width: 25%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .interna .central .box-login .formulario form input{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: var(--fct-secondary2);
        background-color: var(--fct-secondary2);
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }

    .interna .central .box-login .formulario form select{
        width: 90%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: var(--fc-paragraphs);
        padding: 0.5rem;
        line-height: 2rem;
        font-family: var(--ff-primary);
        margin-bottom: 2%;
    }
  
    .interna .central .box-login .row{
        width: 80%;
        float: left;
        margin-left: 10%;
    }

    .interna .central .box-login .row .col-12{
        float: left;
        width: 100%;
        text-align: left;
        margin: auto;
    }

    .interna .central .box-login .row .col-12 .check-box{
        float: left;
        width: 10%;
        margin-left: 22%;
    }

    .interna .central .row{
        width: 22.5%;
        float: left;
        margin-left: 15%;
    }

    .interna .central .bem-vindo {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .interna .central .escolha p, .interna .central .pagamento p{
        margin-top: 20px;
        text-align: center;
    }

    .interna .central #alterar-usuario{
        width: 18%;
        height: 181px;
        background: rgba(0,150,143,0.5);
        float: left;
        border-radius: 11px;
        margin-top: 50px;
        margin-left: 10%;
        text-align: center;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);
        position: relative;
    }

    .interna .central  #alterar-usuario .icon{
        font-size: 50px;
        background: rgba(0,150,143,0.0);
        color: #000;
        margin-left: 45%;
        margin-right: 45%;
    }

    .interna  .central  #alterar-usuario .email-usuario{
        font-size: 100%;
        margin-top: 10px;
        margin-top: 10px;
    }

    .interna  .central  #alterar-usuario .plano-usuario{
        font-size: 100%;
        margin-top: 10px;
    }

    .interna .central  #alterar-usuario .btn-login{
        width: 40%;
        height: auto;
        margin-left: 35%;
        margin-top: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20px;
        background-color: var(--fc-primary);
        color: var(--fc-paragraphs)
    }

    .interna .container .formulario{
        width: 90%;
        margin: auto;
        margin-left: 20%
    }

    .interna .container .formulario .row{
        width: 50%;
        float: left;
        margin-left: 2%;
    }

    .formulario .baixar-conta .row .col-6-baixar-contas{
        width: 200px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .formulario .titulo-financas{
        font-weight: bold;
        margin-left: 350px;
    }

    .formulario #tipo-conta-financas{margin-left: 180px}

    .formulario .label-financas{margin-bottom: -16px}

    .formulario .radio-financas{margin-left: -35px}

    .formulario .row .col-6-financas{width: 250px}

    .formulario .row-textarea #historico{width: 560px}

    .interna .container .formulario form input{
        border-top:none;
        border-left: none;
        border-right: none;
        font-family: 'Itim';
        width: 100%;
        float: left;
        line-height: 2rem;
    }

    .interna .container .formulario .enviar{
        width: 60%;
        float: left;
    }

    .interna .container .formulario .enviar .reset{
        width: 20%;
        margin-left: 6%;
        margin-right: 10%;
        margin-top: 2rem;
    }

    .interna .container .formulario .enviar .submit{
        width: 20%;
        margin-top: 2rem;
    }

    .interna .container .formulario .form-select{
       border-top:none;
       border-left: none;
       border-right: none;
       font-family: 'Itim';
       width: 100%;
       float: left;
    }

    .interna .ajuda{
        width: 60%;
        height: auto;
        margin-left: 40%;
    }

    .interna .ajuda img{
        width: 8%;
        height: 70px;
        float: left;
        margin-top: 2%;
    }

    .interna .ajuda p{
        color: var(--bc);
        float: left;
    }

    .interna .ajuda .para1{
        margin-top: 25px;
        text-align: right;
    }

    .interna .ajuda .para1 a{color: var(--bc)}

    .interna .ajuda .para1 a:hover{color: var(--fc-primary)}

    .interna .ajuda .para2{
        margin-top: 45.5px;
        margin-left: 10px;
    }
}

/* Ajuste da tabela de Serviços */
@media only screen and (min-width: 1700px) {
    .interna .central .rel-servicos{
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    .interna .central .rel-servicos #table-rel-servicos{
        width: 100%;
        max-width: 900px;
    }
}

/* Animações */
@keyframes zoom-in {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
}

.zoom-out {
    transition: var(--transition);
    animation-duration: 0.3s;
    animation: zoom-out 0.3s ease-in-out forwards;
}

@keyframes zoom-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}