*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    font-family: var(--ff-primary);
    cursor: pointer;
}

:root{
    --bc: #050538;
    --bc-secondary: white;
    --bctr: rgba(5, 5, 56, 0.5);
    --fc-primary: #00968F;
    --fct-primary: rgba(0, 150, 143, 0.5);
    --fc-secondary:#00FFF4;
    --fct-secondary: rgba(0, 255, 244, 0.5);
    --fc-secondary2: #cecccc;
    --fct-secondary2:rgba(206, 204, 204, 0.5);
    --fc-paragraphs: white;
    --fs-paragraphs: 25px;
    --ff-primary: 'Itim';
    --transition: all 0.3s linear;
    --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    --box-shadow2: 10px 10px 10px rgba(206, 204, 204, 0.3);
}

@media only screen and (max-width: 290px){body{display: none}}

/* Tela Mobile/Tablet */
@media only screen and (max-width: 1747.99px){
    .bodyGratuito{
        overflow: hidden;
        font-family: 'Itim';
        background-color: var(--bc);
    }

    .bodyGratuito,
    .mainGratuito,
    .mainGratuito .container,
    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #acessar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito,
    .mainGratuito #acessar-erp #acesso-gratuito-cor,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp, 
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar,
    .mainGratuito #resumo-vendas,
    .mainGratuito #resumo-vendas .resumo-cor,
    .mainGratuito .container .ajuda{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pageGratuito{background-color: var(--bc-secondary)}

    .pageGratuito, .mainGratuito .linha-horizontal{width: 90%}

    .mainGratuito,
    .mainGratuito .container,
    .mainGratuito #resumo-rapido,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #busca-rapida .lista-menu-rapido,
    .mainGratuito #acessar-erp,
    .mainGratuito #resumo-vendas,
    .mainGratuito .container .ajuda{
        flex-direction: column
    }

    .mainGratuito,
    .mainGratuito .container,
    .mainGratuito .container .carrinho,
    .mainGratuito #alterar-usuario .btn-alterar,
    .mainGratuito #resumo-rapido p,
    .mainGratuito #resumo-rapido #resumo .dados-resumo,
    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido,
    .mainGratuito #acessar-erp #acesso-gratuito,
    .mainGratuito #acessar-erp #acesso-gratuito-cor,
    .mainGratuito  #acessar-erp #acesso-gratuito-cor p,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar,
    .mainGratuito #resumo-vendas .mes-anterior,
    .mainGratuito #resumo-vendas .mes-atual,
    .mainGratuito .container .ajuda{
        width: 100%
    }

    .mainGratuito .container .carrinho,
    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido p,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #busca-rapida p,
    .mainGratuito #acessar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor,
    .mainGratuito #resumo-vendas{
        text-align: center
    }

    .mainGratuito .container .carrinho img{
        width: 110px;
        height: 90px;
    }

    .mainGratuito .container .carrinho p,
    .mainGratuito .container .ajuda p,
    .mainGratuito .container .ajuda .para1 a{
        color: #050538
    }

    .mainGratuito .container .carrinho p,
    .mainGratuito #alterar-usuario .email-usuario,
    .mainGratuito #alterar-usuario .plano-usuario,
    .mainGratuito  #acessar-erp #acesso-gratuito-cor p,
    .mainGratuito #resumo-vendas .resumo-cor,
    .mainGratuito .container .ajuda p{
        font-size: 17px
    }

    .mainGratuito .container .carrinho .para1,
    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido,
    .mainGratuito #acessar-erp #acesso-gratuito-cor img{
        margin-top: 10px
    }

    hr,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #resumo-vendas .resumo-cor{
        width: 80%
    }

    .mainGratuito #alterar-usuario{padding: 10px}

    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido,
    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #resumo-rapido #resumo .dados-resumo,
    .mainGratuito #busca-rapida,
    .mainGratuito #acessar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp,
    .mainGratuito #resumo-vendas, 
    .mainGratuito #resumo-vendas .resumo-cor{
        background-color: rgba(0,150,143,0.5)
    }

    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido,
    .mainGratuito #busca-rapida,
    .mainGratuito #acessar-erp,
    .mainGratuito #resumo-vendas{
        border-radius: 11px
    }

    .mainGratuito #alterar-usuario,
    .mainGratuito #resumo-rapido,
    .mainGratuito #busca-rapida,
    .mainGratuito #acessar-erp,
    .mainGratuito #resumo-vendas{
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25)
    }

    .mainGratuito #alterar-usuario,
    .mainGratuito #alterar-usuario .alterar-dados,
    .mainGratuito #resumo-rapido,
    .mainGratuito #busca-rapida,
    .mainGratuito #busca-rapida .lista-menu-rapido,
    .mainGratuito #acessar-erp,
    .mainGratuito #resumo-vendas{
        width: 70%
    }

    .mainGratuito #alterar-usuario .icon{
        color: #000;
        font-size: 50px;
    }

    .mainGratuito #alterar-usuario .plano-usuario{margin-top: 5px}

    .mainGratuito #alterar-usuario .alterar-dados{
        display: flex;
        align-items: center;
        margin: 10px auto 5px auto;
        background-color: #00968f;
    }

    .mainGratuito #alterar-usuario .alterar-dados,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp{
        height: 40px
    }

    .mainGratuito #alterar-usuario .alterar-dados,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar{
        border-radius: 20px
    }

    .mainGratuito #alterar-usuario .btn-alterar{color: var(--bc-secondary)}

    .mainGratuito #resumo-rapido{padding: 10px 0}

    .mainGratuito #resumo-rapido,
    .mainGratuito #resumo-vendas .resumo-cor{
        justify-content: space-evenly
    }

    .mainGratuito #resumo-rapido,
    .mainGratuito #acessar-erp #acesso-gratuito-cor,
    .mainGratuito #resumo-vendas .resumo-cor{
        flex-wrap: wrap
    }

    .mainGratuito #resumo-rapido,
    .mainGratuito #busca-rapida,
    .mainGratuito #acessar-erp{
        margin-top: 30px
    }

    .mainGratuito #resumo-rapido #resumo,
    .mainGratuito #resumo-rapido #resumo p,
    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a,
    .mainGratuito  #acessar-erp #acesso-gratuito .restante-gratuito,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar{
        color: #fff
    }

    .mainGratuito #resumo-rapido #resumo{margin: 20px 0}

    .mainGratuito #resumo-rapido #resumo p, .mainGratuito #busca-rapida p{margin-top: 15px}

    .mainGratuito #resumo-rapido #resumo .dados-resumo{
        max-height: 200px;
        padding: 5px;
        margin-top: 20px;
        color: #000;
        overflow-y: auto;
    }

    .mainGratuito #busca-rapida .lista-menu-rapido{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        margin: 5px 0 20px 20%;
    }

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido{font-size: 15px}

    .mainGratuito #acessar-erp #acesso-gratuito{
        justify-content: space-between;
        border-radius: 11px 11px 0 0;
    }

    .mainGratuito  #acessar-erp #acesso-gratuito .restante-gratuito{
        width: 100%;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp{
        width: 30%
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp,
    .mainGratuito .container .ajuda .para2{
        margin: 10px 0 10px 0
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp{
        margin-left: 5px;
        background-color:  rgba(0,150,143);
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar{
        height: 100%
    }

    .mainGratuito #resumo-vendas{margin: 30px 0 10px 0}

    .mainGratuito #resumo-vendas p{margin: 15px 0 15px 0}

    .mainGratuito #resumo-vendas .resumo-cor{margin-bottom: 10px}

    .mainGratuito #resumo-vendas .mes-anterior,
    .mainGratuito #resumo-vendas .mes-atual{
        margin-bottom: -10px
    }

    .mainGratuito .linha-horizontal{border: 1px solid #000}

    .mainGratuito .container .ajuda .para1 a{text-decoration: none}

    .mainGratuito .container .ajuda img{
        width: 100px;
        height: 70px;
    }
}

/* Tela Desktop - Pequeno */
@media only screen and (min-width: 768px) and (max-width: 1747.99px){
    .mainGratuito .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainGratuito .container .carrinho .para1{margin: 40px 0 -40px -300px}

    .mainGratuito .container .carrinho .para2{margin: -25px -315px 20px 0}
    
    .mainGratuito .container hr{width: 90%}

    .mainGratuito .container #alterar-usuario{margin-top: 30px}

    .mainGratuito .container #alterar-usuario,
    .mainGratuito .container #busca-rapida,
    .mainGratuito .container #acessar-erp{
        width: 30%
    }

    .mainGratuito .alterar-dados:hover{background: var(--bc)}

    .mainGratuito .container #resumo-rapido{flex-direction: row}

    .mainGratuito .container #resumo-rapido, .mainGratuito .container #resumo-vendas{width: 50%}

    .mainGratuito .container #resumo-rapido #resumo{
        width: 25%;
        margin-top: 10px;
    }

    .mainGratuito #resumo-rapido #resumo .dados-resumo{
        height: 250px;
        text-align: left;
    }

    .mainGratuito .container #busca-rapida{margin-top: -100px}

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a:hover{color: var(--fc-primary)}

    .mainGratuito .container #acessar-erp{margin: 250px 0 40px -36.5%}

    .mainGratuito  #acessar-erp #acesso-gratuito-cor p{width: 60%}

    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp,
    .mainGratuito .container .ajuda .para2{
        margin: 15px 20px
    }
    
    .mainGratuito #resumo-vendas .resumo-cor{
        height: 200px;
        margin-bottom: 20px;
    }

    .mainGratuito .container .ajuda{margin-top: 10px}

    .mainGratuito .container .ajuda .para1{margin: 0 0 -30px -220px}

    .mainGratuito .container .ajuda .para1 a{
        position: absolute;
        margin: 20px 0 0 -100px;
    }

    .mainGratuito .container .ajuda .para1 a:hover{color: #00968f}

    .mainGratuito .container .ajuda .para2{margin: -40px -350px 20px 0}   
}

/* Tela Desktop - Médio */
@media only screen and (min-width: 1024px) and (max-width: 1747.99px){
    .mainGratuito .container .carrinho .para1{
        position: absolute;
        margin: 35px 0 0 0;
        right: 56%;
    }
    
    .mainGratuito .container .carrinho img{margin: 10px 20px 10px 0}
    
    .mainGratuito .container .carrinho .para2{
        position: absolute;
        margin: -40px 0 0 48%;
    }
    
    .mainGratuito .alterar-dados:hover{background: var(--bc)}

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a:hover{color: var(--fc-primary)}

    .mainGratuito #resumo-vendas .resumo-cor{height: 150px}

    .mainGratuito #resumo-vendas .mes-anterior, .mainGratuito #resumo-vendas .mes-atual{
        width: 25%;
        margin: 0;
    }

    .mainGratuito .container .ajuda{margin-top: 20px}
    
    .mainGratuito .container .ajuda .para1 a:hover{color: #00968f}
}

/* Ajuste da responsividade */
@media only screen and (min-width: 1380px) and (max-width: 1747.99px){
    .mainGratuito .container{width: 80%}

    .mainGratuito .container .carrinho{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .mainGratuito .container .carrinho .para1{
        right: auto;
        margin: 35px 0 0 -300px;
    }
    
    .mainGratuito .container .carrinho .para2{margin: 75px -300px 0 0}

    .mainGratuito .alterar-dados:hover{background: var(--bc)}

    .mainGratuito #resumo-rapido #resumo .dados-resumo{height: 300px}

    .mainGratuito .container #busca-rapida{margin-top: -100px}

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a:hover{color: var(--fc-primary)}

    .mainGratuito .container .ajuda{margin: 20px 0 -10px 0}

    .mainGratuito .container .ajuda .para1{margin-bottom: -28px}

    .mainGratuito .container .ajuda .para2{margin-top: -30px}

    .mainGratuito .container .ajuda .para1 a:hover{color: #00968f}
}

/* Tela Desktop - Largo */
@media only screen and (min-width: 1748px){
    .bodyGratuito{
        padding: 0;
        margin: 0;
        font-family: 'Itim';
        overflow: hidden;
        background-color: var(--bc);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pageGratuito{
        width: 90%;
        background-color: var(--bc-secondary);
    }

    .mainGratuito .container{
        width: 100%;
        min-height: 600px;
    } 

    .mainGratuito .container .carrinho{
        width: 70%;
        height: 140px;
        margin-left: 33%;
    }

    .mainGratuito .container .carrinho img{
        width: 8%;
        height: 100px;
        float: left;
    }

    .mainGratuito .container .carrinho p{
        color: #050538;
        float: left;
        font-size: 20px;
    }

    .mainGratuito .container .carrinho .para1{
        margin-top: 50px;
        margin-left: 15px;
    }

    .mainGratuito .container .carrinho .para2{
        margin-top: 100px;
    }

    hr{
        width: 90%;
        margin-left: 5%;
    }

    .mainGratuito #alterar-usuario{
        width: 18%;
        height: 181px;
        background: rgba(0,150,143,0.5);
        float: left;
        border-radius: 11px;
        margin-top: 50px;
        margin-left: 10%;
        text-align: center;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);
        position: relative;
    }

    .mainGratuito #alterar-usuario .icon{
        font-size: 50px;
        background: rgba(0,150,143,0.0);
        color: #000;
    }

    .mainGratuito #alterar-usuario .email-usuario{
        font-size: 100%;
        margin-top: 10px;
        margin-top: 10px;
    }

    .mainGratuito #alterar-usuario .plano-usuario{
        font-size: 100%;
        margin-top: 10px;
    }

    .mainGratuito #alterar-usuario .alterar-dados{
        border-radius: 20px;
        width: 40%;
        height: 40px;
        background: #00968f;
        margin: auto;
        margin-top: 10px;
        color: var(--bc-secondary);
        display: flex;
        align-items: center;
    }

    .mainGratuito #alterar-usuario .btn-alterar {
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        border-radius: 20px;
    }

    .mainGratuito #resumo-rapido{
        width: 40%;
        height: 622px;
        float: left;
        background:  rgba(0,150,143,0.5);
        margin-top: 50px;
        margin-left: 20%;
        border-radius: 11px;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);
        position: relative;   
    }

    .mainGratuito #resumo-rapido p{
        text-align: center;
        margin-top: 15px;
    }

    .mainGratuito #resumo-rapido #resumo{
        width: 28%;
        height: 43px;
        margin: 2.6%;
        background: rgba(0,150,143,0.5);
        margin-top: 5px;
        float: left;
        color: #fff;
    }

    .mainGratuito #resumo-rapido #resumo p{color: #fff}

    .mainGratuito #resumo-rapido #resumo .dados-resumo{
        width: 100%;
        height: 467px;
        padding: 10px;
        margin-top: 9px;
        float: left;
        color: #000;
        overflow-y: auto;
        background: rgba(0, 150, 142, 0.716);
    }

    .mainGratuito #busca-rapida{
        width: 18%;
        height: 378px;
        background:  rgba(0,150,143,0.5);
        float: left;
        margin-left: 10%;
        position: relative;
        bottom: 400px;
        border-radius: 11px;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);
    }

    .mainGratuito #busca-rapida p{
        text-align: center;
        margin-top: 20px;
    }

    .mainGratuito #busca-rapida .lista-menu-rapido{
        width: 100%;
        list-style: none;
        float: left;
        margin-top: 10px;
    }

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido{
        width: 100%;
        line-height: 2em;
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
    }

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a{width: auto}

    .mainGratuito #busca-rapida .lista-menu-rapido .menu-rapido a:hover{color: var(--fc-primary)}

    .mainGratuito #acessar-erp{
        width: 18%;
        height: 181px;
        background: rgba(0,150,143,0.5);
        float: left;
        border-radius: 11px;
        margin-top: 50px;
        margin-left: -18%;
        text-align: center;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);  
        right: 540px;
    }

    .mainGratuito .alterar-dados:hover{background: var(--bc)}

    .mainGratuito #acessar-erp #acesso-gratuito{
        width: 100%;
        height: 42px;
        background:  rgba(0,150,143,0.5); 
        float: left; 
        position: relative;
        border-radius: 11px 11px 0 0;
    }

    .mainGratuito #acessar-erp #acesso-gratuito .restante-gratuito{
        color: #fff;
        position: relative;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor #logo-acesso{
        width: 15%;
        margin-top: -20px;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor p{
        width: 75%;
        font-size: 20px;
        margin-top: -20px;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .assinar-erp{
        width: 32%;
        height: 30px;
        border-radius: 11px;
        margin-top: -80px;
        margin-right: 10px;
        background-color:  rgba(0,150,143,0.5);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .acessar-erp{
        width: 32%;
        height: 30px;
        border-radius: 11px;
        margin-top: -80px;
        margin-left: 10px;
        background-color:  rgba(0,150,143);
        color: #fff;
        display: flex;
        align-items: center;
    }

    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-assinar,
    .mainGratuito #acessar-erp #acesso-gratuito-cor .btn-acessar{
        width: 100%;
        height: 30px;
        border-radius: 11px;
        margin-bottom: 10px;
    }

    .mainGratuito #resumo-vendas{
        width: 40%;
        height: 181px;
        float: left;
        background: rgba(0,150,143,0.5); 
        margin-top: 50px;
        margin-left: 20%;
        border-radius: 11px;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.25);
        bottom: 225px;  
    }

    .mainGratuito #resumo-vendas p{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mainGratuito #resumo-vendas .resumo-cor{
        background:  rgba(0,150,143,0.5);
        width: 70%;
        height: 100px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .mainGratuito #resumo-vendas .mes-anterior{
        float: left;
        margin-left: 10%;
    }

    .mainGratuito #resumo-vendas .valor-anterior{
        float: left;
        margin-left: 25%;
    }

    .mainGratuito #resumo-vendas .porcentual-anterior{
        float: left;
        margin-left: 10%;
    }

    .mainGratuito .linha-horizontal{
        width: 90%;
        border: 1px solid #000;
        float: left;
        margin-left: 5%;
    }

    .mainGratuito #resumo-vendas .mes-atual{
        float: left;
        margin-left: 10%;
    }

    .mainGratuito #resumo-vendas .valor-atual{
        float: left;
        margin-left: 29%;
    }

    .mainGratuito #resumo-vendas .porcentual-atual{
        float: left;
        margin-left: 10%;
    }

    .mainGratuito .container .ajuda{
        width: 70%;
        height: 114px;
        margin-top: 20px;
        margin-left: 37%;
    }

    .mainGratuito .container .ajuda img{
        width: 8%;
        height: 90px;
        float: left;
    }

    .mainGratuito .container .ajuda p{
        color: #050538;
        font-size: 20px;
    }

    .mainGratuito .container .ajuda .para1 a{
        text-decoration: none;
        color: #050538;
    }

    .mainGratuito .container .ajuda .para1 a:hover{color: #00968f}

    .mainGratuito .container .ajuda .para2{
        margin-top: 60px;
        margin-left: 10px;
    }

    a{
        width: 100%;
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}